
<table class="table">
<thead>
<tr>
<th>USERNAME</th>
<th>PHONE</th>
<th>DATESTAMP</th>
<th>BARBER</th>
<th>COLOR</th>
</tr>
</thead>
<tbody>
<% @results.each do |row|%>
    <tr>
    <td><%= row['username'] %></td>
    <td><%= row['phone'] %></td>
    <td><%= row['datestamp'] %></td>
    <td><%= row['barber'] %></td>
    <td><%= row['color'] %></td>
    </tr>
</tbody>
<%end%>
</table>